<form action="/object/<%= data[0].id %>/comment" method="post" class="mb-4 mt-3 ml-3 mr-3">
    <div class="input-group mb-3">
        <textarea class="form-control" name="content" id="" cols="30" rows="5"></textarea>
    </div>
    <div class="input-group">
        <input type="submit" class="form-control" value="submit">
    </div>
</form>

<div class="ml-3 mb-3 mr-3">
    <h4>User comments:</h4>
    <% if(typeof comments[0] != 'undefined'){ for (comment of comments){%>
        <div class="card mt-3 mb-3">
            <div class="comment-header">
                <span class="comment-uname"> <%= comment.userName %></span>
                <span class="comment-date"> <%= comment.date %></span>
            </div>
            <div class="comment-content">
                <pre><%= comment.content %></pre>
            </div>
        </div>
    <%}}else {%>
        There are no user comments on this object yet, make one!
    <% } %>
</div>