<form action="/?p=<%= page%>&c=<%= amount%>" method="get" class="input-group md-form form-sm form-2 pl-0">
    <input type="text" name="q" id="query" class="form-control my-0 py-1 lime-border" placeholder="Search by object name" value="<%= query%>">
    <div class="input-group-append">
        <button class="input-group-text lime lighten-2">
            <i class="fas fa-search text-grey search-icon" aria-hidden="true"></i>
        </button>
    </div>
</form>