.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border  {
    border: 1px solid #ef9a9a;
}
.input-group.md-form.form-sm.form-2 input.lime-border  {
    border: 1px solid #cddc39;
}
.input-group.md-form.form-sm.form-2 input.amber-border  {
    border: 1px solid #ffca28;
}

.subtitle{
    border-bottom: solid 1px #CCC; display: block; font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}

.search-icon{
    background: url('https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/svg/search.svg');
    background-size: 20px;
    width: 20px;
    height: 20px;
}

.fixed-top-nav{
    position:fixed;
    top:0;
    width:100%;
    z-index: 2;
}

.main{
    margin-top:80px !important;
}

.dropdown-container{
    position:fixed;
    top: 60px;
    right:170px;
}

.notification-container{
    margin-top:65px;
}