<form action="/user/settings/handle" method="post">
    <div class="form-group">
        Username:
        <input type="text" name="username" class="form-control" id="username" placeholder="John Doe" value="<%= user %>" required>
    </div>
    <div class="form-group">
        Email:
        <input type="text" name="email" class="form-control" id="email" value="<%= email %>" placeholder="johndoe@objects.codingneko.com" required>
    </div>
    <div class="form-group">
        Password:
        <input type="password" name="password" class="form-control" id="password" placeholder="••••••••••••" required><br>
        Confirm password:
        <input type="password" name="passwordConfirm" class="form-control" id="password-confirm" placeholder="••••••••••••" required>
    </div>
    
    <input type="submit" value="submit" class="btn btn-success" id="submit">
</form>

<script src="/resources/js/settings.js"></script>